body {
    width: 80%;
    margin: 5vw auto;
    color: #000;
}


p {
    text-align: justify;
    white-space: normal;
}

h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    
}

@media screen and (max-width: 40em) {
    body {
        padding: 1rem;
    }
    p {
    text-align: justify;
    white-space: normal;
    }
    h1 {
        font-size: 1em;
    }
}


/* link */
a {
    position: relative;
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/*================================================
Start Important Part
==================================================*/
.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

/*================================================
End Important Part
==================================================*/
