/* transition */
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #000;
    background-color: #48309a;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 1s ease;
}

/* panel styles */
.panel {
    min-height: 100vh;  /* min height incase content is higher than window height */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* intro */
#start {
    height: 100%;
    background: #b50a37; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b50a37, #48309a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b50a37, #48309a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b50a37, #48309a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b50a37, #48309a); /* Standard syntax (must be last) */

}
    
/* colors */
.color-1 {
  background-color: #48309a;
}
.color-2 {
  background-color: #ea2f6c;
}
.color-3 {
  background-color: #eb8738;
}


/* styles */
body {
    text-align: center;
    line-height: 1.618;
}

h1 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.618em;
    font-family: 'Work Sans', sans-serif;
}


/* link */
#start a {
    position: relative;
    color: #000;
    text-decoration: none;
}

#start a:hover {
    color: #b50a37;
}

#start a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b50a37;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#start a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* for scroll down */
body, html, .main {
    height: 100%;
}

section {
    min-height: 100%;
}

/* scroll fade */
.fade {
  opacity: 1;
}